workflows:
  version: 2
  ruby-build:
    jobs:
      - build_data
  scheduled-workflow:
    triggers:
      - schedule:
          cron: "0 15 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build_data
version: 2
jobs:
  build_data:
    docker:
      - image: circleci/ruby:2.4.1-jessie
    steps:
      - checkout
      - run: bundle install
      - run: bundle exec ruby scripts/update_data.rb
      - run: bash scripts/create_pull_request_if_needed.sh
